/.git/
/.idea/
/target/
/.external/
/src/main/webapp/media/animals/
/src/main/webapp/media/arch/
/src/main/webapp/media/avatar/
/src/main/webapp/media/nature/
/src/main/webapp/media/tech/
/out/artifacts/blog_war_exploded/META-INF/MANIFEST.MF
