<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>LOGBACK %-5level[%d{HH:mm:ss}, %logger{16}]: =>>> %msg%n</pattern>
        </encoder>
<!--        [%thread]  -->
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>